/* 
    Css for my index.
*/


.header{
    display:block;
    position: relative;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:rgb(51, 62, 73);
    color: rgb(230, 232, 240);
    padding-top: 30px;
    padding-bottom: 1px;
    
}
p{
    color:whitesmoke;
    font-size: 16px;  
}
body{
    
    border:none;
    margin: 0;
    background-color: rgb(51, 62, 73);
    text-align: center;
}
.bronzeText{
    color: rgb(143, 79, 19);
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}
.silverText{
    color: silver;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
.goldText{
    font-size: 30px;
    font-weight: bold;
    color:gold;
    padding-left: 20px;
}
.largeText{
    font-size: 30px;
    font-weight: bold;
    color:#e7e0d8;
    padding-left: 10px;
}
.tab{
    color: whitesmoke;
}
.footer{
    display:block;
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0;
    margin: auto;
    background-color:rgb(51, 62, 73);
    padding-left: 0%;
}
.root{
    position: fixed;
    align-self: center;
    width: 100%;
    height: 58%;
    overflow:auto;
    text-align: center;
    background-color:rgb(48, 104, 146);
}
.button{
    background-color: #0e740e;
    padding: 10px 32px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-spacing: 5px;
    text-decoration: none;
}
.hide{
    display: none;
    position:relative;
    top: 40%;
    background-color: rgb(206, 40, 40);
    border-color: rgb(5, 12, 19);
    border-width: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin:auto;
    z-index:1;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}
.display{
    display: block;
    position:relative;
    top: 40%;
    background-color: rgb(206, 40, 40);
    border-color: rgb(5, 12, 19);
    border-width: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin:auto;
    z-index:1;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}
